body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #050835;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.section {
    background-color: #aac5f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(68, 89, 136, 0.1);
}
h2 {
    color: #000000;
}
p {
    color: #000000;
}
